<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="configFragment">
  <meta charset="utf-8">
  <title>STUDIO X+U</title>
<!--  <link rel="icon" type="image/x-icon" th:href="@{/pc/images/favicon.ico}">-->
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- 2022.12.30 sns공유 -->
<!--  <meta property="og:type" content="website">-->
<!--  <meta property="og:url" content="http://www.studioxplusu.com/">-->
<!--  <meta property="og:title" content="STUDIO X+U">-->
<!--  <meta property="og:image" th:content="@{/pc/images/og_studiox.png}">-->
<!--  <meta property="og:description" content="즐거움을 배가하고 새로움을 더하다">-->
  <!-- // 2022.12.30 sns공유 -->

  <!-- style -->
<!--  <link rel="stylesheet" th:href="@{/pc/css/reset.css}">-->
<!--  <link rel="stylesheet" th:href="@{/pc/css/swiper-bundle.min.css}">-->
<!--  <link rel="stylesheet" th:href="@{/pc/css/common.css}">-->
<!--  &lt;!&ndash;  <th:block layout:fragment="css"></th:block>&ndash;&gt;-->

  <!-- style -->
<!--  <script th:src="@{/pc/js/vendor/jquery-2.1.3.min.js}"></script>-->
<!--  <script th:src="@{/pc/js/vendor/gsap.min.js}"></script>-->
<!--  <script th:src="@{/pc/js/vendor/ScrollTrigger.min.js}" defer></script>-->
<!--  <script th:src="@{/pc/js/vendor/swiper-bundle.min.js}"></script>-->
<!--  <script th:src="@{/pc/js/vendor/webfont.js}"></script>-->
<!--  <script th:src="@{/pc/js/common.js}" defer></script>-->

  <!-- js -->
<!--  <script th:src="@{/config/jquery.tmpl.js}"></script>-->
</head>

</html>